.news-detail-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  .news-title {
    text-align: center;
    font-size: 34px;
    margin: 60px auto;
    @media (max-width: 992px) {
      margin: 30px auto;
      text-align: left;
    }
  }
}
