<header class="header">
  <div class="header-logo-link wp">
    <a class="header-logo" href="/" title="">
      <img src="{{ static }}/imgs/logo.png"/>
    </a>
    <div class="operate">
      <a href="" class="login-btn">登录</a>
    </div>
  </div>
  <div class="header-menu wp" id="headerMenu">
    <dl name="product">
      <dt class="arrow">菜单1</dt>
      <dd>
        <div class="header-menu-child-item">
          <div class="title">
            <a href="">菜单1-1</a>
          </div>
          <a href="">111111</a>
          <a href="">22222</a>
          <a href="">333333</a>
        </div>
      </dd>
    </dl>
    <dl name="news">
      <dt>
        <a href="/news">新闻动态</a>
      </dt>
    </dl>
    <dl name="about">
      <dt>
        <a href="/about">关于我们</a>
      </dt>
    </dl>
  </div>
  <script>
    document.querySelectorAll('#headerMenu > dl').forEach(function (dl) {
      const name = dl.getAttribute('name');
      if (location.pathname.indexOf(name) > -1) {
        dl.setAttribute('class', 'active')
      }
    })
  </script>
</header>