.news-page-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: 992px) {
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .item {
    flex: 0 0 calc(33.33% - 30px);
    background-color: #fff;
    border: 0 solid #69727d;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    transition: all 0.25s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    color: #000;
    text-decoration: none;
    @media (max-width: 992px) {
      flex: 0 0 calc(50% - 16px);
    }
    @media (max-width: 768px) {
      flex: 0 0 100%;
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    }
    .cover {
      width: 100%;
      display: block;
      height: 260px;
      object-fit: cover;
    }
    .title {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0 18px;
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      height: 110px;
      padding-top: 30px;
      padding-bottom: 15px;
      overflow: hidden;
    }
    .more {
      padding: 0 18px 30px;
      font-size: 12px;
      font-weight: 500;
    }
    .date {
      padding: 12px 18px 10px;
      line-height: 1;
      border-top: 1px solid #eee;
      color: #999;
    }
  }
}
