.swiper {
  width: 100%;
  height: 480px;
  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    display: flex;
    align-items: center;
    .wp {
      width: 100%;
    }
    h2 {
      font-size: 34px;
      font-weight: 400;
    }
  }
}

.texing-list {
  display: flex;
  flex-wrap: wrap;
  .texing-item {
    padding: 3.5em 4em;
    width: 33.33%;
    border-right: 1px solid #eee;
    height: 300px;
    background-color: #fff;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-bottom: 1px solid #eee;
    }
    &:nth-child(3n) {
      border-right: none;
    }

    .icon {
      width: 3em;
      height: 3em;
      background-color: #eee;
      margin-bottom: 3.5em;
    }

    .name {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 1em;
    }
  }
}

.fangan-list {
  display: flex;
  gap: 26px;

  .fangan-item {
    flex: 1;
    text-align: center;
    font-weight: 700;
    overflow: hidden;

    .cover {
      margin-bottom: 15px;
      width: 100%;
      height: 300px;
      background-color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.houban-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  .houban-item {
    width: calc(20% - 16px);
    height: 120px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      max-width: 100%;
      display: block;
      transition: transform 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.1, 1.1);
      }
    }
  }
}
