.news-list {
  margin-top: 40px;
  .news-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    padding: 34px 24px;
    margin-bottom: 10px;
    background-color: #fff;
    .date {
      font-size: 14px;
      color: #666;
    }
  }
}
.new-detail {
  .title {
    font-size: 38px;
    text-align: center;
    margin: 100px auto 20px;
  }
  .tags {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3em;
    color: #666;
    font-size: 16px;
    margin-bottom: 100px;
  }
  .content {
    text-indent: 2em;
    background-color: #fff;
    padding: 40px 30px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2;
  }
}
.prev-new,
.next-new {
  a {
    display: inline-block;
    padding: 12px 0;
    font-size: 16px;
  }
  span {
    color: var(--color-primary);
  }
  b {
    font-weight: 400;
  }
}

.next-new {
  text-align: right;
}
