.tablePageContainer {
  :global {
    .ant-pro-table-search {
      margin-bottom: 0;
      & > .ant-pro-form {
        padding: 15px 10px;
      }
    }

    .ant-pro-card-body {
      padding-inline: 10px;
    }
  }
}
