.article-detail-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  .article-title {
    font-size: 34px;
    margin: 40px auto 20px;
    text-align: left;
    width: 100%;
    display: block;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    font-weight: 400;

    @media (max-width: 992px) {
      margin: 30px auto;
    }
  }
}
