.video-player {
  position: relative;
  video {
    width: 100%;
  }
  .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    .icon-player {
      width: 100px;
      height: 100px;
      display: block;
      cursor: pointer;
    }
  }
  .hidden {
    animation: hide 0.3s forwards;
  }
}

// 渐渐隐藏动画
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
