// Banner Section
.page-top-banner {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  height: 260px;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  flex-direction: column;

  .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .wp {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .breadcrumb {
    margin-bottom: 20px;
  }

  .banner-content {
    // max-width: 600px;
  }

  .banner-title {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 40px;
    letter-spacing: 1px;
  }

  .banner-desc {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
  }
}
